body {
  background-color: rgb(251, 242, 233);
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  background-color: rgb(251, 242, 233);
  border-radius: 5px;
  border: 3px solid rgb(225, 219, 213);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-form input[type="text"],
.search-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid rgb(144, 143, 142);
  border-radius: 4px;
}

.search-form button {
  background-color: rgb(225, 225, 225);
  color: black;
  border: 2px solid rgb(144, 143, 142) !important;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 0 0 10px 0;
}

.search-form button:hover {
  background-color: rgb(166, 166, 166);
}

.movie-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.movie-item button {
  background-color: rgb(225, 225, 225);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.movie-item button:hover {
  background-color: rgb(166, 166, 166);
}

.movie-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.card {
  background: rgb(251, 242, 233);
  border: 1px solid rgb(144, 143, 142);
  overflow: hidden;
  width: 250px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.card-img-left {
  border-radius: 5px;
  object-fit: cover;
  width: 150px; 
  height: 100%;
  display: flex;
 justify-content: flex-start;
 float: left; 
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card .d-flex {
  align-items: center;
}

.image-item {
  flex: 0 0 calc(33.333% - 20px);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .image-item {
    flex: 0 0 100%;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.col-md-4 {
  flex: 0 0 calc(33.333%);
  padding: 0 15px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100px;
  height: 30px;
  float: right;
  justify-content: center;
  position: absolute;
    right: 10px;
     margin: 0 5px 40px 0; 
}

.mb-4 {
    margin-bottom: 20px;
}



.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.details-container {
  display: flex;
  flex-direction: row;
}

.modal-poster {
  max-width: 200px;
  margin-right: 20px;
}

.movie-info {
  flex: 1;
}

.detail-label {
  float: left;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.detail-value {
  float: left;
  width: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#detailsModal { //стили для всплывающего окна с информацией
  display: none; 
  width: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.0); 
  margin-top: 20px; 
}

.modal-content {
  position: relative; 
  background-color: rgb(251, 242, 233);
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
